include pug/includes/variables
- let pageTitle = "Home Page"
doctype html
html(lang="en")
  head
    include pug/includes/meta
    title #{pageTitle}
    include pug/includes/styles
  body 
    .page.home-page 
      include pug/layout/sidbar
      .content-area 
        include pug/layout/header
        h1 content
        
    include pug/includes/scripts