$darkThemeBg: #17191c;
$darkThemeSidbarBg: #212327;
$darkThemeHeaderBg: #3e4043;

$mainOrange: #ff5500;
$altOrange: #ff7733;

$mainYellow: #ff9500;
$altYellow: #ffaa33;

$mainGreen: #6bb34d;
$altGreen: #89c271;

$mainTurquoise: #4db3a2;
$altTurquoise: #85c2b5;

$mainBlue: #00bfe6;
$altBlue: #33cceb;

$mainPurple: #9500ff;
$altPurple: #aa33ff;

$mainPink: #ff66b3;
$altpink: #ff85c2;
