link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="css/main.css")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Chela+One&family=Lumanosimo&family=Open+Sans:wght@300;500;600;700;800&display=swap", rel="stylesheet")
