header(class="d-flex align-items-center p-3 gap-3")
  i.icon-oi-solid-horizontal_arrows-1.sidbar-switch
  .search-box(class="position-relative")
    i.icon-oi-soft-search(class="position-absolute search-icon")
    input(type="search", placeholder="Search...", name="search-input", spellcheck="false")
  